<!DOCTYPE html>
<html lang="en"> 
  <head>
    <link rel="stylesheet" href="style.css" >

  </head>


<body>
 
  <div class="container">
    <h2 id="title2">Songs </h2> 
    <table id="table" style="width:100%">
      <tr>
        <th> 
          120_future_funk_beats_25 
          <div class="column red">
            <a href="#" class="button red" id="0" onclick=changeState(0,1,id) >On</a>
            <a href="#" class="button red alt" id="1" onclick=changeState(0,0,id)>Off</a>
          </div>
        </th>
        <th> 
          120_stutter_breakbeats_16   
         <div class="column blue">
           <a href="#" class="button blue" id="2" onclick=changeState(1,1,id)>On</a>
           <a href="#" class="button blue alt" id="3" onclick=changeState(1,0,id)>Off</a>
         </div>
        </th>
        <th>
          Bass Warwick heavy funk groove on E 120 BPM
         <div class="column green">
             <a href="#" class="button green" id="4" onclick=changeState(2,1,id)>On</a>
             <a href="#" class="button green alt" id="5" onclick=changeState(2,0,id)>Off</a>
         </div>
        </th>
      </tr>
      <tr>
        <th>
          electric guitar coutry slide 120bpm - B
          <div class="column cyan">
            <a href="#" class="button cyan" id="6" onclick=changeState(3,1,id)>On</a>
            <a href="#" class="button cyan alt" id="7" onclick=changeState(3,0,id)>Off</a>
          </div>
        </th>
        <th>
          FUD_120_StompySlosh
          <div class="column brown">
            <a href="#" class="button brown" id="8" onclick=changeState(4,1,id)>On</a>
            <a href="#" class="button brown alt" id="9" onclick=changeState(4,0,id)>Off</a>
          </div></th>
        <th>
          GrooveB_120bpm_Tanggu
          <div class="column pink">
            <a href="#" class="button pink" id="10" onclick=changeState(5,1,id)>On</a>
            <a href="#" class="button pink alt" id="11" onclick=changeState(5,0,id)>Off</a>
          </div></th>
      </tr>
      <tr>
        <th>
          MazePolitics_120_Perc
          <div class="column purple">
            <a href="#" class="button purple" id="12" onclick=changeState(6,1,id)>On</a>
            <a href="#" class="button purple alt" id="13" onclick=changeState(6,0,id)>Off</a>
          </div></th>
        <th>
          PAS3GROOVE1.03B
          <div class="column gray">
            <a href="#" class="button gray" id="14" onclick=changeState(7,1,id)>On</a>
            <a href="#" class="button gray alt" id="15" onclick=changeState(7,0,id)>Off</a>
          </div>
        </th>
        <th>
          SilentStar_120_Em_OrganSynth
          <div class="column yellow">
              <a href="#" class="button yellow" id="16" onclick=changeState(8,1,id)>On</a>
              <a href="#" class="button yellow" id="17" onclick=changeState(8,0,id)>Off</a>
            </div>
          </th>
      </tr>
    </table>
    <h2 id="title">Record </h2> 


    
       
    
  </div>
 

  <div class="box">
  <p id="History"> User actions </p>
  <select id="mySelectHistory" onchange="Play_History()"> 
    <option ></option>
  </select>
 
  

  </div>
  <button id=Play type="button" onclick="playall()" > ▶️ </button>
  <button id=Pause type="button" onclick="pauseall()" > ⏹ </button>
  <audio id="audio"></audio>
  <audio id="audioPlay" controls></audio>
  <p>
    <button id=record ></button>
    <button id=stopRecord disabled >⏸ </button>
    
    
  </p>
  


<script src="./scripts/script.js" ></script>  
<!-- <audio id="audio"></audio>
<audio id="adioPlay" controls></audio> -->


</body>